<h2>{{@title}}</h2>
<ul>
  {{#each @people as |person|}}
    <li>
      <button {{on 'click' (fn this.showPerson person)}}>{{person}}</button>
    </li>
  {{/each}}
</ul>

{{!-- this is not in ember. does it improve readability?
<ul>
  {{#map @title person}}
    <li>{{person}}</li>
  {{/map}}
</ul>
--}}
